:root{
    --blue: #0b3fa8; 
    --gray: #4d4d4d; 
    --button: #ff661a; 
    --add-to-cart-btn: #ff661a;
    --menu-top-fontSize: 14px;
    --lvl-1-fontSize: 14px;
    --red: #ff0000;
    --header: #fff;
    --footer_bg: #000;
    --orange: #ff661a;
    --uniFont: 13px;
}
body {    
    font-family: 'Roboto', sans-serif; 
	font-size: 14px;  
	color: #222;
	background-color: #fff; 
    font-weight: normal;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  
/*=================================*/
/*INLINE BLOCK*/
.inline-block, input[type="text"], select, .dropdown, .right-pseudo:after, .left-pseudo:after, 
.JSsubcat-toggle, .quantity-change a,
footer .social-icons a, .view-buttons, .view-buttons span,
.article-modal-container-inner, .tags li, .tab-titles li,
.product-preview-tabs .generated-features-list li, .product-preview-tabs .features-list li,
.mini-cart-sum i, a.button
{
    display: inline-block;
}
/*=================================*/
/*RELATIVE*/
.relative, span.select-wrapper, .section-title, .product-content, .product-content-list, 
.popup-wrapper, .popup-inner, .article-modal-container-inner,
.JSlevel-3 li
{
    position: relative; 
} 
/*=================================*/
/*VERTICAL ALIGN*/
.vert-align, input[type=checkbox], input[type=radio], .pagination, .logo, .product-list table thead th, .product-list table tbody td,
.JSImgLoop a, .article-modal-container-inner .modal-galery-container a, .product-preview-tabs .generated-features-list li,
.product-preview-tabs .features-list li, .cart-labels table thead tr th, .cart-labels table tbody tr td,
.lvl-1-img-cont
{ 
    vertical-align: middle; 
}
/*=================================*/
/*TEXT CENTER*/
.JSsubcat-toggle,  
.lvl-1-img-cont, .quantity-change a, input.add-amount,
.product-list table thead th, .product-list table tbody td, footer .JSscroll-top, .view-buttons span,
.tab-titles li, .cart-labels table thead tr th, .cart-labels table tbody tr td, .user-card-modal div table thead tr th,
.user-card-table table thead th
{
    text-align: center;
}
/*=================================*/
/*OVERFLOW HIDDEN*/
#JSmain-slider, .product-image-wrapper, .product-title,
.product-content .addon-title, .brend-item, .product-view
{
    overflow: hidden;
}
/*=================================*/
/*NO MARGIN*/
body, .row, h1, h2, h3, h4, h5, h6, ul, .currency, .main-content .slick-slider:not(#JSmain-slider)
{
    margin: 0;
}
/*=================================*/
/*NO PADDING*/
body, .no-padding, ul, .currency-list
{
    padding: 0;
}
/*=================================*/
/*DISPLAY FLEX*/
.flex, .product-list-options, .brend-item 
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
/*=================================*/
/*COLOR WHITE*/
.text-white, .pages, footer, 
.tags li, .tab-titles li
{
    color: #fff;
} 
/*=================================*/
/*MARGIN AUTO*/
.margin-auto, .news img, #JSarticle-img, .article-modal-img, .cart-image img
{
    margin: auto;
}
/*=================================*/
/*DISPLAY BLOCK*/
span.select-wrapper, .section-title,  
.lvl-2-img, .product-title, .manufacturer-categories ul li a,
.empty-page, .xs-wrap, .JSlevel-1 li a, .pages a
{
    display: block;
}
/*=================================*/
.lineh, img, .product-title, 
.tab-content table tr td 
{
    line-height: 1;
} 
/*=================================*/
/*DISPLAY NONE*/
.JSmap, .select-fields-content,  
.JSlevel-1, .JSlevel-2, .JSlevel-4, .slickTitle, .addon-title
{
    display: none;
}
/*=================================*/
/*FONT BOLD*/
.text-bold 
{
    font-weight: 600;
}

/*=================================*/
/*FONT 500*/
table tr th 
{
    font-weight: 500;
}

/*=================================*/

/*FONT 85*/
.sub-group span 
{
    font-size: 85%;
}
/*=================================*/
.JSspinner {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,.9);
    z-index: 172;
} 
.JSspinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.JSspinner span{
    position: relative;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    display: inline-block;
    transform: translate(-50%, -50%);
}
.JSspinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
}
.JSspinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.JSspinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.JSspinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.JSspinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.JSspinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.JSspinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.JSspinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.JSspinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.JSspinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.JSspinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.JSspinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.JSspinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*========= BOOTSTRAP OVERRIDES ======*/ 
.pointer { cursor: pointer; } 
.nowrap { flex-wrap: nowrap; } 
input[type=checkbox], input[type=radio]{ margin: 0 3px;  } 
img{ color: #999; font-size: 12px; max-width: 100%; } 
.red-dot-error{ color: red; font-size: 13px; }
 
/*********/ 
 .map-frame {
    margin: 10px 0;
    height: 330px; 
}
.map-info {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 225px;
    height: 54px;
    background: #fff;
    padding: 10px 0 10px 15px;
}
.map-info h5 {
    text-shadow: 0 0 0.1px;
    font-size: 14px;
    margin: 0 0 5px; 
    color: #000;
}
.map-info h6 { 
    color: #5B5B5B; 
    font-size: 12px;
}
.map-info h5, .map-info h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*********/

.dropdown-menu{ min-width: 100%; }
label{ font-weight: normal; margin: 5px 0 0; text-shadow: 0.1px 0 0;}
/*======================================*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--gray);
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--gray);
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--gray);
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--gray);
}
/*======================================*/
a:link, a:visited, a:active { text-decoration: none; color: inherit; outline: none; }
 
ul { list-style-type: none; }
/*h1 { font-size: 1.8em; }
h2 { font-size: 20px; }
h3 { font-size: 1.3em; background: #f0f0f0; font-weight: 600;} 
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }*/
/*BUTTON*/
button {
    border: none;
    background: none;
}
button:focus, input:focus, select:focus { outline: none; } 
.button {
    padding: 4px 10px;
    margin: 5px 0; 
    -webkit-transition: 0.3s all;
    transition: 0.3s all; 
    background-color: var(--button);
}
.button, a.button { color: #fff; }
 
.button:hover  { background-color: #e64d00; }
 

input[type="text"], select { 
    width: 100%; 
    padding: 5px 12px;
    color: #666;
    border: 1px solid #ddd;
    background: #fff; 
    font-size: var(--uniFont);
}
textarea { resize: none; min-height: 80px; }
span.select-wrapper::after {
    content: " ";
    border-top: 0.4em solid #808080;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
    position: absolute;
    top: 42%;
    right: 5px;
}
select { -moz-appearance: none; -webkit-appearance: none; }

.JSleft-body-link, .JSright-body-link{ 
    position: absolute;
    left: 0; 
}
.JSright-body-link {  
    left: unset;
    right: 0;
} 
/*--- PRODUCT SLIDER ---*/
.JSproducts_slick .slick-prev, .JSproducts_slick .slick-next{  
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 2;
    font-size: 0;
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    background: transparent;
}
.JSproducts_slick .slick-prev{
    left: unset; 
    right: 35px;
}
.JSproducts_slick .slick-next:before, .JSproducts_slick .slick-prev:before{
    font-family: FontAwesome;
    color: var(--orange);
    font-size: 15px;
}
.JSproducts_slick .slick-next:before, .JSproducts_slick .slick-prev:before{
    content: '';
    border: 3px solid;
    border-color: var(--button) var(--button) transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    width: 11px;
    height: 11px;
}
.JSproducts_slick .slick-prev:before {
    border-color: transparent transparent var(--button) var(--button);
    margin: 0 0 0 5px;
} 
 /*=================================*/
.JSmarkedFilter {
    box-shadow: inset 0 0 0 1px var(--blue);
}
.filter-links { 
    padding: 5px;  
    border-bottom: 1px solid #ccc; 
}
.filter-links i {
    margin: 3px 0;
}
.filter-links:hover, .view-buttons span:hover {
    color: var(--blue);
}  
.select-fields-content label{ 
    background: #F5f5f5;
    padding: 2px 5px;  
    cursor: pointer;
    font-size: var(--uniFont);
}
.select-fields-content label:hover {
    box-shadow: 3px 0 0 inset  var(--blue);
} 
.select-fields-content {
    margin: 0 0 15px;
}
/***********/
.section-title{
    color: #808080;
    margin: 10px 0;
    font-size: 22px;
    padding: 5px 0;
    border-bottom: 1px solid #DADADA;
}
/***********/
 
.xs-wrap {
    max-width: 250px;
    white-space: normal;
    min-width: 200px;
}
/* ============ PREHEADER =========== */
#preheader { background: #000; }  

#preheader a, #preheader span{ 
    padding: 3px 5px; 
}
.right-pseudo:after, .left-pseudo:after{
    content: '';
    width: 2px;
    height: 14px; 
    background: #ddd;
    position: absolute;
    top: 6px;
    right: -3px;
}
.left-pseudo:after{
    right: unset;
    left: -2px;
} 
/*=========== HEADER ================*/
header { background: var(--header); }

.logo { 
    padding: 10px 0; 
}
.logo img {
    max-height: 80px;
} 
.header-cart {  
    margin: 15px 0;  
} 
/****************/ 
.search-form input, .search-form select{
    padding: 5px 20px 5px 5px;
    height: 34px;
    border-right: 0;
}

.JSsearch-button{
    position: absolute;
    top: 0;
    right: 0; 
    height: 100%; 
    margin: 0;
    width: 100%;
    max-width: 50px;
} 
.header-cart-content {
    background: #fff;
    position: absolute;
    width: 420px;
    right: 0;
    padding: 0 10px;
    box-shadow: 0 0 5px 0 #999;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
}
.mini-cart-container:hover .header-cart-content {
	visibility: visible;
	opacity: 1;
}
/**************************/
.mini-cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.mini-cart-img {
    max-height: 50px;
}
.mini-cart-title {
    margin: 0 0 10px;
    max-width: 90%;
}
.remove-cart-item {
    color: #e60000 !important;
    position: absolute;
    top: 0;
    right: 5px;
}
.mini-cart-sum li {
    text-align: right;
    padding: 5px 7px;
    margin: 8px 0;
    background: #f2f2f2;
}
.mini-cart-sum i {
    font-style: normal;
    min-width: 100px;
}
/**************************/
 
.cart-remove .close { 
    width: 15px;  
    color: var(--red);
    float: none;
    opacity: .5;
    font-size: 16px;
}
.cart-remove .close:hover{
    opacity: 1;
} 
.currency-change a.active{
    box-shadow: 0 0 0 2px inset;
    font-size: 85%;
    letter-spacing: 1px;
}
/*======= STICKY HEADER ANIMATION ========*/
.JSsticky_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 51;
    animation: smooth_slide .3s;
    background: var(--header);
    box-shadow: 0 0px 5px #999;
}
@keyframes smooth_slide {
    0% { opacity: 0; transform: translateY(-100%); } 
    100% { opacity: 1; transform: translateY(0); } 
}
.JSsticky_header .logo{ padding: 5px 0; } 
.JSsticky_header .logo img { max-height: 50px; } 
.JSsticky_header .header-cart{ margin: 15px 0; }

/*========= RESPONSIVE HEADER =========*/
 
.JSsubcat-toggle { 
    position: absolute;
    right: 10px;
    top: 0; 
    width: 29px;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
}
 
.JSsubcat-toggle.rotate{
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    color: var(--orange);
}
/*========== CATEGORIES ==============*/
.menu-background {
    background: #000; 
}
.pages a {  
    padding: 0 6px;
    line-height: 35px; 
} 
.pages a:hover, #preheader a:hover, .footer-lists li a:hover{
    color: var(--orange);
}
.category-nav h3 { 
    background: var(--orange);
    font-size: 16px;
    line-height: 35px;  
} 
.JSlevel-1 {  
    background-color: #fff;  
}
 
.JSlevel-1 > li > a {
    line-height: 24px;
}
.JSlevel-1 li a {  
    color: #222; 
    padding: 3px 10px; 
    background: #fff;
    font-size: 90%;
    border-bottom: solid 1px #ddd; 
}
.JSlevel-1 li:hover > a {
    color: var(--orange);
}
.JSlevel-2 { 
    background: #fff;  
} 
.JSlevel-2 ul { 
    margin: 0 0 0 35px;  
} 
.lvl-1-img-cont { 
    width: 25px;
    height: 25px; 
    margin: 0 5px 0 0;
}
.lvl-1-img-cont img {
    max-width: 25px;
    max-height: 23px; 
    padding: 1px;
}
.JSlevel-2 li a { 
    padding: 6px 0; 
}
.JSlevel-3 li a {  
    border: none;
}   
.lvl-2-cont {
    height: 40px;
    width: 55px;  
}
.lvl-2-cont img {
    max-height: 40px;
    max-width: 55px;
}
 
/*============ MAIN CONTENT ============*/
.main-content {
	background: #fff;
	min-height: 570px;
	padding-bottom: 20px;
}
/*============ MAIN SLIDER ================ */
#JSmain-slider {
	max-height: 430px; 
    margin-bottom: 0;
} 
#JSmain-slider img{
    width: 100%;
    max-height: 430px;
}
#JSmain-slider .slick-next, #JSmain-slider .slick-prev {
    height: 40px;
    width: 40px;
    margin: -20px 10px 0;
    background-color: rgba(0,0,0,.4);
    border-radius: 50px;
}
#JSmain-slider .slick-prev {
    left: 0;
}
#JSmain-slider .slick-next {
    right: 0;
}
#JSmain-slider .slick-prev:before, #JSmain-slider .slick-next:before {
    content: '';
    border: 3px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 1;
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 5px 0 0;
}
#JSmain-slider .slick-prev:before {
    border-color: transparent transparent #fff #fff;
    margin: 0 0 0 5px;
}
#JSmain-slider .slick-prev:hover, #JSmain-slider .slick-next:hover {
    background-color: rgba(0,0,0,.8);
}
/*===============*/
 
.banners-right img {
    max-height: 220px;
    margin: 10px auto;
    width: 100%;
    padding: 0 3px 0 0;
}  
/*===============*/

.bw{ background-color: #fff; }

/*============ PRODUCT ================ */

.product-content, .product-content-list { 
    background: #fff;   
    box-shadow: 0 0 5px rgba(0,0,0, .1);
    -webkit-transition: .2s;
    transition: .2s;
    margin: 10px 1%;
}
.product-content:hover, .product-content-list:hover {
    box-shadow: 0 0 10px rgba(0,0,0, .2);
}
/*======================*/

.sticker_cont > img{
    max-height: 50px;
    max-width: 90px;
    margin: 5px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.sticker_cont > img:nth-child(2){ 
    right: 0;
}
/*======================*/

.article-edit-btn{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ccc;
    font-size: 11px;
    padding: 0 5px;
    background: #fff;
    z-index: 1;
}
/**********/
 
.product-content .product-image-wrapper { 
    height: 215px; 
}
.product-content .product-image-wrapper img {
    max-height: 210px;
    padding: 5px; 
} 
.product-content .addon-title {
    height: 20px;  
}
/**********/

.product-content-list {
    margin: 5px 0;
}
.product-content-list .product-image-wrapper {
    height: 130px;
}
.product-content-list .product-image-wrapper img{
    max-height: 130px; 
}

/**********/

.product-title {  
    margin: 0 0 5px;  
    text-shadow: 0.1px 0 0; 
    font-size: 105%;
} 
.product-content-list .product-title{ margin: 10px 0; }

/**********/

.product-info {
    padding: 5px; 
}

.quant-container {
    font-size: 80%;  
} 
.quant-container span {
    border-right: 1px solid #999;
    padding: 0 3px;
}
.quant-container span:last-child {
    border-right: none;
}

.product-price { 
    font-size: 120%; 
}
.product-price-vp { 
    color: var(--orange);
    text-shadow: 0.1px 0.1px, .1px .1px #000;
}
 .mp-text {
    font-size: 70%; 
}

/**********/

.quantity-change{
    border: 1px solid #ccc;  
} 
.quantity-change a { 
    width: 18px;
    height: 27px;
    line-height: 27px;
    font-size: 10px;
    opacity: .7;
}
input.add-amount  {
    width: 22px;
    height: 28px;
    border: none;
    padding: 0;
} 
/**********/

.add-to-cart-container button, .table-btn button {  
    padding: 5px;     
}  
.table-action {
    color: #f00;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 0 0 #000;
} 
 
.not-available {
    opacity: 0.8;
    cursor: text;  
} 
 
.add-to-cart-container {
    padding: 5px 0; 
}

/**********/
.price-change {
    font-size: 80%;
}
.price-change.fa-arrow-up {
    color: #ff0000;
}
.price-change.fa-arrow-down {
    color: #00ff00;
}
/**********/
   
/*========= PRODUCT LIST ============*/
.product-list-options {
    background: #f5f5f5;
    margin: 5px 0; 
}
.product-list table img{
	max-height: 100px; 
    min-width: 60px;
}
.product-list table thead th, .product-list table tbody td{  
    line-height: 1.3; 
    padding: 3px;
}
.product-list table thead th {
	background: #f5f5f5; 
    border-bottom: 0;
} 

.product-list .product-title {
    font-size: inherit;
}

.product-list table thead th:nth-child(1){ width: 20%; } 

.product-list table thead th:nth-child(2),
.product-list table thead th:nth-child(3),
.product-list table thead th:nth-child(5),
.product-list table thead th:nth-child(7),
.product-list table thead th:nth-child(9)
{ width: 10%; }
 
.product-list table thead th:nth-child(4),
.product-list table thead th:nth-child(8)
{ width: 7%; }
 
.product-list table thead th:nth-child(6){ width: 8%; }
 
/* ============ FOOTER =============== */
footer {
	background: var(--footer_bg); 
    padding: 40px 0 10px; 
} 
footer h4{
    margin: 0 0 10px;
}
footer .JStoggMap { 
    font-size: 12px;
    margin: 0 30px;
} 
footer .JStoggMap i{
    animation: bouncer 2s infinite;
    color: var(--orange);
    font-size: 18px;
} 
footer li {
    margin: 5px 0;
}
@keyframes bouncer{
  0%, 20%, 50%, 80%, 100% { transform: translateY(0px)}
  40%{transform: translateY(-10px)}
  60%{transform: translateY(-15px)}
}  
footer .newsletter-input {
    width: 80%;
    margin: 5px 0 10px;
}
.newsletter-input button{  
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%; 
    margin: 0;
}
footer .newsletter-input input{
    padding-right: 100px;
    height: 34px;
}  
.social-icons a { 
    font-size: 20px;
    width: 25px;
    height: 25px; 
    margin: 8px 4px; 
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
}
.social-icons a:hover{ opacity: .7; }
 
footer .foot-note {
    margin: 10px;
}
.foot-note a, .foot-note{
	color: #bbb; 
}   
footer .JSscroll-top {
	position: fixed;
    font-size: 20px;
    line-height: 18px; 
    right: -70px;
    bottom: 60px;
    border: 1px solid #ddd;
    background: rgba(0,0,0,.7);
    z-index: 20;  
    padding: 10px 15px; 
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; 
}
footer .JSscroll-top:hover {
    opacity: .7; 
	color: #fff;
}
/*============ INFO & CONFIRM POPUP ============*/
.popup {
    position: fixed; 
    width: 100%;
    height: 0;
    left: 0;
    top: -2000px;
    overflow: hidden; 
    z-index: 999;
}
.popup-opened { top: 0; height: 100%; }
.popup-wrapper { left: 50%; top: 45%; }
.popup-inner { left: -50%; top: -50%;  background: #fff; }
.popup-close {
    position: absolute;
    right: 8px;
    top: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 25px;
    color: #5A5A5A;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: none;
}
.info-confirm-popup { display: none; }
.info-popup, .confirm-popup { top: 0; height: 100%; background: rgba(44, 44, 44, 0.8); }
.info-popup .popup-wrapper, .info-popup .popup-inner { max-width: 320px; }
.confirm-popup .popup-wrapper, .confirm-popup .popup-inner { width: 300px; }
.info-popup .popup-inner, .confirm-popup .popup-inner { background: rgba(153, 153, 153, 0); }
.confirm-popup .popup-inner { text-align: center; }
.info-popup .p-info, .confirm-popup p {
    margin: 0;
    color: var(--gray);
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 5px #333;
    font-size: 18px;
}
/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex; 
}
.first-popup .first-popup-inner { margin: auto;  border: 1px solid #ddd;}
.first-popup .JSclose-me-please{
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px;
    line-height: 1;
    padding: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 3px #000; 
}
.first-popup .JSclose-me-please:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img {
    max-width: 100%;
    max-height: 380px;
    padding: 2px;
} 
 
/* ========== BREADCRUMBS ============ */
.breadcrumb{ 
    font-size: 12px;
    margin: 0 15px;
}
/*===================================*/
.brend-item {
    background: #fff; 
    padding: 5px 15px;
    font-weight: bold;
    color: #222;
    height: 80px;
    margin: 15px 0;
    border-radius: 2px; 
    box-shadow: 1px 1px 3px #f2f2f2;
}
.brend-item img {
    max-height: 70px;
    padding: 5px 0;
    width: auto;
}
.manufacturer-categories h3 {
    font-size: 1em;
    margin: 5px 0;
    padding: 5px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.manufacturer-categories ul li a {
    border: 1px solid #ddd;
    margin: 2px 0; 
    padding: 2px 5px;
    background-color: #f5f5f5;
}
/*============ NEWS ================*/
.news {
    margin: 15px 0;
    background: #fff;
    box-shadow: 1px 1px 7px #ddd;
}
.news img{
    max-height: 300px; 
    padding: 15px;
} 
.news-title {
    margin: 16px 0;
    border-width: 2px;
}
.single-news-container img{
    max-height: 500px; 
    padding: 30px 0;
}
/******************/
.empty-page{
    padding: 10px;
    margin: 10px 0; 
    background: #f5f5f5;
}
/*======== PRODUCT LIST ===========*/

.sub-group a {
    height: 60px;
    margin: 3px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}
.sub-group img {
    max-height: 55px;
    max-width: 50px;
    padding: 5px 0;
    margin: 0 8px;
}
.sub-group span {
    max-width: 130px;
}
.sub-group a:hover {
    border-color: var(--orange);
}
/********************************/
.currency-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 2px 10px;
    margin: 5px 0 5px 5px; 
} 
.currency-btn:hover{
    background-color: transparent;
}
.currency-list li {
    border-bottom: 1px solid #ddd;
}
.view-buttons { 
    margin: 0 10px;
}
.view-buttons span { 
    width: 25px; 
    color: var(--orange);
    margin: 5px 0;
    font-size: 16px;
    border-bottom: 3px solid transparent;
}
.view-buttons span.active {
    color: #000;
    border-bottom: 3px solid #000;
}
/***************/
.pagination{ margin: 5px 0; }

.pagination li a {
    padding: 5px 10px; 
    border: none;
}
.pagination li a,
.pagination>.disabled>a,
.pagination>.active>a, 
.pagination>.active>a:hover,
.pagination>.disabled>a:hover
{
    background: transparent;
}
.pagination>.active>a, .pagination>.active>a:hover {
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid;
    border-radius: 0 !important;
}
.JSImgLoop a, .article-modal-container-inner .modal-galery-container a {
    width: 100%;
    max-width: 80px;
    height: 75px;
    border: 1px solid #ddd;
    border-radius: 4px; 
    margin-top: 4px;
    padding: 5px;
    background: #fff;
    display: inline-flex;
    display: -webkit-inline-flex;
}
.JSImgLoop a img, .article-modal-container-inner .modal-galery-container a img {
	max-height: 65px;
    margin: auto;
    max-width: 100%;
}
/* ======== PRODUCT PREVIEW INFO ============ */ 

#JSarticle-img {
    cursor: pointer;
    transition: 0.3s; 
    max-height: 350px;
}
.article-modal-container {
    display: none; 
    position: fixed;  
    left: 0;
    top: 0;
    width: 100%;  
    height: 100%;  
    overflow: auto;  
    background-color: #fff;    
    z-index: 888;
}
.article-modal-img { 
    max-height: 400px;
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.JSarticle-modal-close {
    position: absolute;
	top: -50px;
    right: 10px;
    color: #ff0000;
    font-size: 6rem;
    transition: 0.2s;
    line-height: 1;
    cursor: pointer;
}
.JSarticle-modal-close:hover{
    color: #bbb;    
}
.article-modal-container-inner{ 
    padding: 10px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 50%; 
}
.article-modal-container-inner .modal-img-container{ 
    height: 415px; 
    display: flex;
    display: -webkit-flex;
} 
.product-view{
    height: 360px; 
    display: flex;
    display: -webkit-flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0;
}
.product-view:hover, .product-preview-image .elevatezoom-gallery:hover{
	border-color: var(--blue);
}
/*===============*/

.article-heading {
    margin: 10px 0 20px;
    padding: 0 0 5px;
    color: var(--gray);
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}
.tags li{ 
    font-size: 14px;
    margin: 10px 5px;
    border-radius: 5px;
    padding: 0px 5px; 
    background-color: #44aacb;
}
.product-preview-price { 
    font-size: 170%;
    color: var(--orange);
    margin: 10px 0;
}

/*- PRODUCT PREVIEW TABS */
.product-preview-tabs {
	margin-top: 20px;
} 
.tab-titles li { 
    padding: 5px 50px; 
    background-color: #bbb;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 1px solid #f4a137; 
}
.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px;
    min-height: 100px;
}
.tab-content table{
    width: 100%;
}
.tab-content table tr:nth-child(even){
    background-color: #f2f2f2;
}
.tab-content table tr td{
    padding: 5px 10px; 
}
.product-preview-tabs .generated-features-list li, .product-preview-tabs .features-list li { 
    padding: 5px 0;
    line-height: 1.3;
    width: 48%; 
    font-weight: normal;
}
.product-preview-tabs .features-list li{
    border-bottom: 1px solid #ddd;
    vertical-align: unset;
}
.product-preview-tabs .generated-features-list li ul li {
    border-bottom: 1px solid #ddd;
}
.product-preview-tabs .generated-features-list:nth-child(even), .product-preview-tabs .features-list {
    background: #f5f5f5;
}
.product-preview-tabs .generated-features-list li ul li:nth-last-child(-n+2) {
    border-bottom: none;
}
/*============ CART ============*/
.cart-summary div {
    padding: 8px;
    border-left: solid 3px #bbb;
    background: #f5f5f5;
    margin: 3px 0;
} 

.cart-labels table tr th { border-bottom: 1px solid #ddd; }
.cart-labels table tr td { border-bottom: 1px solid #ddd; border-top: none; }

.cart-labels table tr:nth-of-type(odd) {
    background-color: #fff; 
}
.cart-image img {
	max-height: 60px; 
    min-width: 50px;
}  
/*============= USER CARD ================*/ 
   
@media screen and (min-width: 768px){
    .product-preview-tabs .generated-features-list, .product-preview-tabs .features-list {
        font-size: 1em;
        padding: 0 10px;
        display: table;
        width: 100%;
        border-bottom: 1px solid #ccc;
    } 
 
}
/*=============================================*/
@media screen and (min-width: 991px){
    .JSlevel-2 {
        position: absolute;
        padding: 5px 0;
        width: 633px; 
        top: 0px;
        left: 100%; 
        border-left: 1px solid var(--orange);
        -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.175);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.175);
        min-height: 100%;
    }

	.JSlevel-1 li:hover .JSlevel-2 {
	    display: block; 
	} 

    .JSlevel-1 {
        position: absolute; 
        width: 100%;
        border-right: 1px solid #DADADA;
        border-left: 1px solid #DADADA;
        z-index: 50;
    }

    .category-nav:hover .JSlevel-1 {
        display: block;
    }

    .JSlevel-2 + .JSsubcat-toggle,
    .JSlevel-3 + .JSsubcat-toggle {
        display: none;
    }
   
    /************/
   
    #JSmain-slider, .banners-right {
        margin-left: 23%;
    } 
   
    /************/

    .product-content .product-title {
        height: 29px; 
    }

    .product-content .product-price { 
        height: 45px;
        overflow: hidden;
    }
    /************/

    .table-btn button, .table-btn div {
        width: 100%;
    }

    .drop-2 {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 180px;
        z-index: 3;
        background-color: #000;
        display: none;
    }
    .pages > li:hover .drop-2 {
        display: block;
    }
    .pages li {
        position: relative;
        padding: 0; 
    }

}
 
/*=============================================*/
@media only screen and (max-width: 991px){ 
	#responsive-nav {
	    position: fixed;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    max-width: 290px;
	    width: 0%;
	    overflow: hidden;
	    background-color: #f2f2f2;
	    -webkit-transform: translateX(-100%); 
	    transform: translateX(-100%);
	    -webkit-transition: 0.5s all;
	    transition: 0.5s all;
	    z-index: 990;
	    overflow: auto;
	} 
	.resp-nav-btn {
        display: inline-block;
        border: 1px solid var(--orange);
        color: var(--orange);
        padding: 3px 10px;
        font-size: 15px;
        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 1;
     }
	 .openMe {
	    width: 100% !important;
	    -webkit-transform: translateX(0%) !important;
	    -ms-transform: translateX(0%) !important;
	    transform: translateX(0%) !important;
	}

	.JSlevel-1 { display: block; }

    .JSclose-nav {   
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 1px;
        font-size: 30px;
        line-height: 1;
	}
  
    .JSlevel-1 li { position: relative; margin: 4px 0; } 

	.JSCategoryLinkExpend, .JSlevel-3 {
		display: none;
	}
    .banners-right img{ margin: 5px auto 0; }
   
    .sm-nopadd { padding: 0; }
 
    /********/
    .pages li { display: block; }
   
    .pages {  
        color: #222;  
    }
    .drop-2 {
        margin-left: 20px;
    }
    /********/
    .container {
        width: auto; 
        padding: 0; 
    }
}
/*=============================================*/
@media only screen and (max-width: 768px){ 
	
    .main-content{  min-height: 300px; }
	
    .product-view{ height: 235px; }
    
    #JSarticle-img { max-height: 220px; }
    
    .article-modal-container-inner .modal-img-container {  height: 315px; }
    
    .product-preview-tabs .generated-features-list li, 
    .product-preview-tabs .features-list li, 
    .features-content li 
    {
        width: 100%;
    }

    .product-preview-tabs .generated-features-list .features-list-title {
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        color: #000;
        font-weight: 600;
    }
   .product-preview-tabs .generated-features-list, .product-preview-tabs .features-list {
        margin: 30px 0;
    }
    
    .sm-text-center { text-align: center; } 
     
} 
/*=============================================*/
@media only screen and (max-width: 480px){ 
    .tab-content table tr td{ width: 50%; }
    .article-modal-img{ max-height: 250px; }
 	.article-modal-container-inner { width: 100%; }
    .article-heading, .section-title{ font-size: 18px; }  
 
    .logo img { max-height: 55px; }

    footer .newsletter-input {
        width: 100%;
        margin: 20px 0;
    }
}