:root{
	--btn_bg: #df0024;
    --btn_color: #fff;
    --a_href_color: #000;
    --level_1_color: #222;
    --product_price_color: #222;
    --product_title_color: #30323A;
    --footer_bg: #d4d4d4;
    --header_bg: #d4d4d4;
    --top_menu_bg: #d4d4d4;
    --menu_bg: #d4d4d4;
    --menu_color: #000;
    --body_color: #797979;
    --body_bg: #fff;
    --top_menu_color: #fff;
    --h2_color: #30323A;
    --login_btn_bg: transparent;
    --login_btn_color: #000;
    --cart_number_bg: #df0024;
    --categories_title_bg: #df0024;
    --categories_level_1_bg: #fff;
    --categories_level_2_bg: #fff;
    --level_2_color: #222;
    --inner_body_bg: #fff;
    --product_bg: #fff;
    --product_bottom_bg: #fff;
    --review_star_color: #D13E3B;
    --paragraph_color: #fff;
    --h5_color: #fff;
    --input_bg_color: #fff;
    --breadcrumb_bg: #f9f9f9;
    --product_list_bg: #f9f9f9;
    --currency_bg: #fff;
    --currency_color: #df0024;
    --filters_bg: #fff;
    --pagination_bg: #fff;
    --pagination_bg_active: #fff;
    --pagination_color_active: #337ab7;
    --article_product_price_color: #D13E3B;
    --discount_price_color: #D13E3B;
    --add_to_cart_btn_bg: #F8694A;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: #30323A;
    --add_to_cart_btn_bg_not_available: #f79888;
    --btn_hover_bg: #f63409;
    --sale_action_price_bg: #F8694A;
    --sale_action_bg: #30323A;
    --product_old_price_color: #F8694A;
    --label_color: #222;
    --scroll_top_bg: #fff;
    --global_color: #df0024;
}
	